<div class="container">
  <form method="post" action="/create">
    <ul>
      <li>
        <input type="text" placeholder="Title" name="title">
      </li>
      <li>
        <input type="text" placeholder="url" name="url">
      </li>
      <li>
        <input type="submit" value ="Submit Post">
      </li>
    </ul>
  </form>
</div>
